USE [master]
GO
/****** Object:  Database [persona_db]    Script Date: 9/05/2025 10:48:06 a. m. ******/
CREATE DATABASE [persona_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'persona_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\persona_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'persona_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\persona_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [persona_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [persona_db]
GO
/****** Object:  Table [dbo].[estudios]    Script Date: 9/05/2025 10:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudios](
	[id_prof] [int] NOT NULL,
	[cc_per] [int] NOT NULL,
	[fecha] [date] NULL,
	[univer] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prof] ASC,
	[cc_per] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 9/05/2025 10:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[cc] [int] NOT NULL,
	[nombre] [varchar](45) NOT NULL,
	[apellido] [varchar](45) NOT NULL,
	[genero] [char](1) NULL,
	[edad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesion]    Script Date: 9/05/2025 10:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](90) NOT NULL,
	[des] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[telefono]    Script Date: 9/05/2025 10:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telefono](
	[num] [varchar](15) NOT NULL,
	[oper] [varchar](45) NULL,
	[duenio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[estudios]  WITH CHECK ADD  CONSTRAINT [fk_estudios_persona] FOREIGN KEY([cc_per])
REFERENCES [dbo].[persona] ([cc])
GO
ALTER TABLE [dbo].[estudios] CHECK CONSTRAINT [fk_estudios_persona]
GO
ALTER TABLE [dbo].[estudios]  WITH CHECK ADD  CONSTRAINT [fk_estudios_profesion] FOREIGN KEY([id_prof])
REFERENCES [dbo].[profesion] ([id])
GO
ALTER TABLE [dbo].[estudios] CHECK CONSTRAINT [fk_estudios_profesion]
GO
ALTER TABLE [dbo].[telefono]  WITH CHECK ADD  CONSTRAINT [fk_telefono_persona] FOREIGN KEY([duenio])
REFERENCES [dbo].[persona] ([cc])
GO
ALTER TABLE [dbo].[telefono] CHECK CONSTRAINT [fk_telefono_persona]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD CHECK  (([genero]='F' OR [genero]='M'))
GO
USE [master]
GO
